<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>
    <display-name>Rental construction machinery</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:mainApplicationContext.xml</param-value>
    </context-param>

    <servlet>
        <servlet-name>spring-mvc-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:applicationContext-web.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>spring-mvc-dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
</web-app>
